{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Similarity check{% endblock %}
 
 
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='jumbotron-narrow.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% endblock %}
 

    {% block content %}
    <div class="container">

      
    <div class="header clearfix">
        <nav>
        
        {% if current_user.confirmed and current_user.is_authenticated %}
          <ul class="nav nav-pills pull-right"> 
          <li role="presentation"><a href="{{ url_for('user.profile') }}">Profile</a></li>
          <li role="presentation"><a href="{{ url_for('main.compare') }}">Compare</a></li>

          <li role="presentation"><a href="{{ url_for('user.logout') }}">Logout</a></li>
          </ul>

        {% elif current_user.is_authenticated %}
          <ul class="nav nav-pills pull-right"> 
          <li role="presentation"><a href="{{ url_for('user.unconfirmed') }}">Confirm</a></li>
          <li role="presentation"><a href="{{ url_for('user.logout') }}">Logout</a></li>
          </ul>
        {% else %}
          <ul class="nav nav-pills pull-right">
            
                 

            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
            <li role="presentation"><a href="/register">Register</a></li>
          </ul>
        {% endif %}
        </nav>
        <h3 class="text-muted">Similarity Check</h3>
      </div>



      {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    
    

    {% block page_content %}{% endblock %}  
     
      
      <footer class="footer">
        <p>&copy; 2017 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
    {% endblock%} 

